#content{
    background-image: url(../img/header-neutral.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    padding: 20% 20% 10% 20%;
}
#content #topleftbox{
    background-color: #D9D9D9;
    color: #0079C1;
    line-height: 52px;
    text-align: center;
    width: 180px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
}
#footer{
    height: 123px;
    background-image: url(../img/bg-earth.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
}



/* 
    文体
*/
#mainbox{
    background-color: white;
}
#blog_title{
    padding: 55px 10%;
    margin: 0 auto;
    color: #4C4C4C;
    font-size: 3em;
    text-align: center;
}
#blog_info{
    color: #4C4C4C;
    margin: 10px auto;
    width: 250px;
    height: 50px;
    font-size: 12px;
}
#blog_info #rightauthor{
    text-align: center;
    width: 50%;
    float: right;
}
#blog_info #leftdate{
    text-align: center; 
    width: 50%;
    float: left;
}
#blog_foreword{
    padding: 10px 10px;
    font-size: 20px;
    color: #4C4C4C;
    line-height: 2em;
    background-color: #F8F8F8;
}
.blog_p{
    font-size: 110%;
    color: #4C4C4C;
    padding: 10px 5px;
    line-height: 2em;
}
.blog_reference{
    font-size: 18px;
    color: #4C4C4C;
    padding: 10px 30px;
    border-left: #4C4C4C 4px solid;
    line-height: 1.5em;
}
.blog_formula{
    font-size: 36px;
    text-align: center;
}
.blog_strong{
    font-size: 32px;
    font-weight: bold;
    color: #4C4C4C;
    padding: 10px 5px;
}
.blog_img{
    display: block;
    margin: 10px auto;
    border-left: #4C4C4C 1px solid;
    border-top: #4C4C4C 1px solid;
    box-shadow: 10px 10px 5px #4C4C4C;
}
